.body {
    font-family: Verdana sans-serif;
    font-size: 13 px;
    color: #4F545F;
    margin: 0;
    padding: 10 px;
}

fieldset{
    margin:20px;
    padding:20px;
    border:2px dashed #DDDDDD;
}

legend{
    font-size: 16 px;
    font-weight: 900;
}

fieldset > span{
    color: #6278b0;
    padding: 20px 40px;
    display: block;
    background-color: #CCE9F8;
    background-size: 20px 20px;
    border: 1px solid #6278b0;
    margin-bottom: 10px;
}

.formElement{
    padding:5px 10px;
    width: 300px;
}
select[name=rate]{
    font-size:14px;
    width:250px;
}
#submitButton, #resetButton{
    padding: 10px 20px;
    font-size: 16px;
    border:0;
    color:white;
    border-radius: 5px;
}
#submitButton{
    background-color: #56C56F;
}
#resetButton{
    background-color: #D9534F;
}
.click-able:hover{
    cursor:pointer;
    opacity:0.8;
}
#submitButton:hover{
    background-color:black;
}
table{
    border:1px solid #eee;
    margin: 0 auto;
    border-collapse:collapse;
    text-align:  center;
}
th,td{
    color:#999;
    border: 1px solid #eee;
    padding: 15px 35px;
}
th{
    color:white;
    background-color: #55B4C5;
    text-transform: uppercase;
}
tr:hover{
    color:#555;
    background-color: #f4f4f4;
}
.navbar{
    background-color:#ccc;
    list-style: none;
    overflow:hidden;
}
.navbarElem{
    float:left;
    padding:20px;
}
.routineList{
    list-style: none;
}
.navbarElem:hover{
    cursor:pointer;
    color:white;
    background-color: #999;
}
.navbarElem>a{
    text-decoration: none;
    color: #4F545F;
}

.routineName:hover{
    cursor:pointer;
    color:white;
    background-color: #999;
}
.routineName>a{
    text-decoration: none;
    color: #4F545F;
}

#myRoutine{
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
}

.weightIn{
    text-align: center;
}

#saveWeight{
    margin: 0 auto;
    border-collapse:collapse;
    align-content: center;
    margin-top: 10px;
}

#routineButtons{
    margin: 0 auto;
    text-align: center;
}

.routineState{
    font-style: italic;
    text-align: right;
}

table {
    width: 100%;
}

